<div class="list-group">
    <% var x = ['Tenis','Bolsas','Camiseta']
    for (var i = 0; i < 3; i++) { %>
        <a href="/categoria/<%= i %>" class="list-group-item"><%= x[i] %></a>
    <% } %>
  </div>

