<% for(i=1;i<=6;i++){ %>
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="/produtos"><img class="card-img-top" style="max-height:200px;" src="/image/produto<%- i %>.jpg" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="/produtos/<%= i %>">Item One</a>
        </h4>
        <h5>$24.99</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
  <% } %>
